# Supermarket Loyalty

International Essentials is an international supermarket chain.

Shoppers at their supermarkets can sign up for a loyalty program that provides rewards each year to customers based on their spending. The more you spend the bigger the rewards. 

The supermarket would like to be able to predict the likely amount customers in the program will spend, so they can estimate the cost of the rewards. 

This will help them to predict the likely profit at the end of the year.

## Data

The dataset contains records of customers for their last full year of the loyalty program.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

# Task 1

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "loyalty.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

In [3]:
# Libs 
import pandas as pd 
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

# importing the data
df = pd.read_csv('loyalty.csv')
print(df.dtypes)
print('*'*30)
print(df.isna().sum().sort_values(ascending=False))
print('*'*30)

## cleaning the database
#customer_id
def data_cleaner(df, test_data=False):
    clean_data = df.copy()
    clean_data['customer_id'] = df['customer_id'].astype('category')
    assert clean_data['customer_id'].nunique() == df.shape[0]
    if not test_data:
        # spend
        clean_data['spend'] = pd.Series([x if x>0 else 0 for x in df['spend']]).round(2)
    # first_month
    clean_data['first_month'] = pd.to_numeric(df['first_month'], errors='coerce')
    clean_data['first_month'] = pd.Series([x if x>0 else 0 for x in clean_data['first_month']]).round(2)
    # items_in_first_month
    clean_data['items_in_first_month'] = pd.Series([x if x>0 else 0 for x in df['items_in_first_month']])
    # region
    clean_data['region'] = df['region'].astype('category')
    assert clean_data['region'].nunique() == 4
    # loyalty_years
    list_loyalty_years = ['0-1', '1-3', '3-5', '5-10', '10+']
    assert df['loyalty_years'].isin(list_loyalty_years).all()
    clean_data['loyalty_years'] = df['loyalty_years'].astype('category').\
                                                    cat.reorder_categories(list_loyalty_years, ordered=True)
    # joining_month
    clean_data['joining_month'] = df['joining_month'].fillna('Unknown').astype('category')
    list_month = ['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jun', 'Jul', 'May', 'Mar', 'Nov', 'Oct', 'Sep', 'Unknown']
    assert clean_data['joining_month'].isin(list_month).all()
    
    # promotion
    clean_data['promotion'] = df['promotion'].str.capitalize().astype('category')
    list_promotion = ['Yes','No']
    assert clean_data['promotion'].isin(list_promotion).all()
    return clean_data

    
# checking the clean_data
clean_data = data_cleaner(df)
clean_data.head()

customer_id               int64
spend                   float64
first_month              object
items_in_first_month      int64
region                   object
loyalty_years            object
joining_month            object
promotion                object
dtype: object
******************************
joining_month           125
customer_id               0
spend                     0
first_month               0
items_in_first_month      0
region                    0
loyalty_years             0
promotion                 0
dtype: int64
******************************

,customer_id,spend,first_month,items_in_first_month,region,loyalty_years,joining_month,promotion
0,1,132.68,15.30,5,Asia/Pacific,5-10,Nov,No
1,2,106.45,16.20,14,Asia/Pacific,0-1,Feb,Yes
2,3,123.16,25.26,7,Middle East/Africa,10+,Dec,Yes
3,4,130.60,24.74,8,Middle East/Africa,3-5,Apr,No
4,5,130.41,25.59,8,Middle East/Africa,3-5,Apr,Yes

# Task 2 

The team at International Essentials have told you that they have always believed that the number of years in the loyalty scheme is the biggest driver of spend. 

Producing a table showing the difference in the average spend by number of years in the loyalty programme along with the variance to investigate this question for the team.

 - You should start with the data in the file 'loyalty.csv'.

 - Your output should be a data frame named `spend_by_years`. 

 - It should include the three columns `loyalty_years`, `avg_spend`, `var_spend`. 

 - Your answers should be rounded to 2 decimal places.

In [5]:
spend_by_years = clean_data.groupby('loyalty_years')['spend'].agg(
    avg_spend=lambda x: x.mean(), 
    var_spend=lambda x: x.var()
).reset_index().round(2)
print(spend_by_years)

  loyalty_years  avg_spend  var_spend
0           0-1     110.56       9.30
1           1-3     129.31       9.65
2           3-5     124.55      11.09
3          5-10     135.15      14.10
4           10+     117.41      16.72

# Task 3

Fit a baseline model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [7]:
# reading train and test
train_data = pd.read_csv('train.csv')
train_data = data_cleaner(train_data)
print(train_data.shape)
print(train_data.head())
print('*'*30)

test_data = pd.read_csv('test.csv')
test_data = data_cleaner(test_data, test_data = True)
print(test_data.shape)
print(test_data.head())
print('*'*30)

(996, 8)
  customer_id   spend  first_month  items_in_first_month              region  \
0           1  135.39        15.44                    10  Middle East/Africa
1           2  129.74        20.12                    12              Europe
2           3  138.61        18.38                     5  Middle East/Africa
3           4  129.94        20.13                     5        Asia/Pacific
4           6   77.56        23.04                    10              Europe

  loyalty_years joining_month promotion
0          5-10           Feb       Yes
1           10+           Jun        No
2          5-10           Oct        No
3           10+           Sep        No
4           1-3           May        No
******************************
(250, 7)
  customer_id  first_month  items_in_first_month              region  \
0           5        20.43                     8              Europe
1           7        20.90                     7            Americas
2          16        19.99                     7        Asia/Pacific
3          17        23.55                    13  Middle East/Africa
4          19        25.85                    11              Europe

  loyalty_years joining_month promotion
0          5-10           Jul       Yes
1           3-5           Jul        No
2          5-10           Jul       Yes
3           3-5           Aug        No
4           3-5           Apr       Yes
******************************

In [8]:
# Libs
from sklearn.model_selection import KFold, train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error as MSE
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

# data
# dropiing dependent variable and unique identifier, and dates
X = train_data.drop(['spend','customer_id'], axis=1)
y = train_data['spend']

# preprocessing
numerical_features = X.select_dtypes(include=np.number).columns.tolist()
nominal_categorical_features = ['region', 'promotion', 'joining_month']
ordinal_categorical_features = ['loyalty_years']
list_loyalty_years = ['0-1', '1-3', '3-5', '5-10', '10+']

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

nominal_categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')), 
    ('onehot', OneHotEncoder(handle_unknown='ignore', drop='first')) 
])

ordinal_categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('ordinal', OrdinalEncoder(categories=[list_loyalty_years]))
])

# Combine all transformers using ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('nom_cat', nominal_categorical_transformer, nominal_categorical_features),
        ('ord_cat', ordinal_categorical_transformer, ordinal_categorical_features)
    ],
    remainder='passthrough' 
)

# pipeline
ranf_pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('ranf', RandomForestRegressor(random_state=123)) 
])

# model selection
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=.2,
    shuffle=True,
    random_state=123,
)

# grid search
kf = KFold(n_splits=10, random_state=123, shuffle=True)

ranf_params = {
    'ranf__max_depth':np.arange(1,10,1),
    'ranf__min_samples_leaf':np.arange(.01,.4,.05),
    'ranf__n_estimators':np.arange(100,210,10)
}
ranf_cv = RandomizedSearchCV(
    ranf_pipe,
    param_distributions=ranf_params,
    cv=kf,
    n_iter=10,
    random_state=123
)

# results
ranf_result = ranf_cv.fit(X_train, y_train)

print(f'best score for train_set: {ranf_result.best_score_}')
print(f'score for the test set: {ranf_result.score(X_test, y_test)}')
print(f'RMSE for the test set: {MSE(y, ranf_result.predict(X))**.5}')

best score for train_set: 0.9980486752535855
score for the test set: 0.9982262926199694
RMSE for the test set: 1.098851274674157

In [9]:
# task
base_result = pd.DataFrame()
base_result['customer_id'] = test_data['customer_id']
base_result['spend'] = ranf_cv.predict(test_data) 
base_result.head()

  customer_id       spend
0           5  141.350648
1           7  149.552646
2          16  141.350648
3          17  150.512630
4          19  150.972166

# Task 4

Fit a comparison model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [11]:
# Libs 
from sklearn.ensemble import GradientBoostingRegressor

# pipeline
gradient_pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('gradient', GradientBoostingRegressor(random_state=123)) 
])

# model selection
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=.2,
    shuffle=True,
    random_state=123,
)

# grid search
kf = KFold(n_splits=10, random_state=123, shuffle=True)

gradient_params = {
    'gradient__max_depth':np.arange(1,10,1),
    'gradient__min_samples_leaf':np.arange(.01,.4,.05),
    'gradient__n_estimators':np.arange(100,210,10),
    'gradient__subsample':np.arange(.1,.9,.1),
    'gradient__max_features':np.arange(.5,1,.1)
}
gradient_cv = RandomizedSearchCV(
    gradient_pipe,
    param_distributions=gradient_params,
    cv=kf,
    n_iter=10,
    random_state=123
)

# results
gradient_result = gradient_cv.fit(X_train, y_train)
y_pred= gradient_result.predict(X_test)
print(f'best score for train_set: {gradient_result.best_score_}')
print(f'score for the test set: {gradient_result.score(X_test, y_test)}')
print(f'RMSE for the test set: {MSE(y_test, y_pred)**.5}')

best score for train_set: 0.9980557692306317
score for the test set: 0.996940794230792
RMSE for the test set: 1.4731731726687796

In [12]:
# task
compare_result = pd.DataFrame()
compare_result['customer_id'] = test_data['customer_id']
compare_result['spend'] = gradient_cv.predict(test_data) 
compare_result.head()

  customer_id       spend
0           5  140.654577
1           7  148.976556
2          16  140.698287
3          17  150.585744
4          19  152.553750